<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lottecard.test.dao.mapper.BookTbMapper">

	<sql id="where-key">
		AND ISBN = #{isbn}
	</sql>

	<sql id="where-models">
		<if test="title != null and title != ''">
			AND TITLE = #{title}
		</if>
		<if test="contents != null and contents != ''">
			AND CONTENTS = #{contents}
		</if>
		<if test="url != null and url != ''">
			AND URL = #{url}
		</if>
		<if test="isbn != null and isbn != ''">
			AND ISBN = #{isbn}
		</if>
		<if test="pubDtti != null and pubDtti != ''">
			AND PUB_DTTI = #{pubDtti}
		</if>
		<if test="authors != null and authors != ''">
			AND AUTHORS = #{authors}
		</if>
		<if test="publisher != null and publisher != ''">
			AND PUBLISHER = #{publisher}
		</if>
		<if test="translators != null and translators != ''">
			AND TRANSLATORS = #{translators}
		</if>
		<if test="price != null and price != ''">
			AND PRICE = #{price}
		</if>
		<if test="salePrice != null and salePrice != ''">
			AND SALE_PRICE = #{salePrice}
		</if>
		<if test="thumbnail != null and thumbnail != ''">
			AND THUMBNAIL = #{thumbnail}
		</if>
		<if test="status != null and status != ''">
			AND STATUS = #{status}
		</if>
	</sql>

	<sql id="insert-condition">
		, ISBN
		<if test="assignParameters.contains('pubDtti')">
			, PUB_DTTI
		</if>
		<if test="assignParameters.contains('contents')">
			, CONTENTS
		</if>
		<if test="assignParameters.contains('publisher')">
			, PUBLISHER
		</if>
		<if test="assignParameters.contains('authors')">
			, AUTHORS
		</if>
		<if test="assignParameters.contains('url')">
			, URL
		</if>
		<if test="assignParameters.contains('thumbnail')">
			, THUMBNAIL
		</if>
		<if test="assignParameters.contains('price')">
			, PRICE
		</if>
		<if test="assignParameters.contains('salePrice')">
			, SALE_PRICE
		</if>
		<if test="assignParameters.contains('translators')">
			, TRANSLATORS
		</if>
		<if test="assignParameters.contains('title')">
			, TITLE
		</if>
		<if test="assignParameters.contains('status')">
			, STATUS
		</if>
	</sql>

	<sql id="insert-values">
		, #{isbn}
		<if test="assignParameters.contains('price')">
			, #{price}
		</if>
		<if test="assignParameters.contains('salePrice')">
			, #{salePrice}
		</if>
		<if test="assignParameters.contains('translators')">
			, #{translators}
		</if>
		<if test="assignParameters.contains('title')">
			, #{title}
		</if>
		<if test="assignParameters.contains('status')">
			, #{status}
		</if>
		<if test="assignParameters.contains('pubDtti')">
			, #{pubDtti}
		</if>
		<if test="assignParameters.contains('contents')">
			, #{contents}
		</if>
		<if test="assignParameters.contains('publisher')">
			, #{publisher}
		</if>
		<if test="assignParameters.contains('authors')">
			, #{authors}
		</if>
		<if test="assignParameters.contains('url')">
			, #{url}
		</if>
		<if test="assignParameters.contains('thumbnail')">
			, #{thumbnail}
		</if>
		<if test="assignParameters.contains('contents')">
			, #{contents}
		</if>
	</sql>

	<sql id="update-condition">
		<if test="assignParameters.contains('pubDtti')">
			PUB_DTTI = #{pubDtti},
		</if>
		<if test="assignParameters.contains('contents')">
			CONTENTS = #{contents},
		</if>
		<if test="assignParameters.contains('publisher')">
			PUBLISHER = #{publisher},
		</if>
		<if test="assignParameters.contains('authors')">
			AUTHORS = #{authors},
		</if>
		<if test="assignParameters.contains('url')">
			URL = #{url},
		</if>
		<if test="assignParameters.contains('thumbnail')">
			THUMBNAIL = #{thumbnail},
		</if>
		<if test="assignParameters.contains('price')">
			PRICE = #{price},
		</if>
		<if test="assignParameters.contains('salePrice')">
			SALE_PRICE = #{salePrice},
		</if>
		<if test="assignParameters.contains('translators')">
			TRANSLATORS = #{translators},
		</if>
		<if test="assignParameters.contains('title')">
			TITLE = #{title},
		</if>
		<if test="assignParameters.contains('status')">
			STATUS = #{status},
		</if>
	</sql>

	<insert id="insertOne" parameterType="BookTbEntity">
		INSERT INTO BOOK_TB
		(
			<trim prefix="" prefixOverrides=",">
			<include refid="insert-condition"/>
			<include refid="commonSql.common-insert-condition" />
		</trim>
		)
		VALUES
		(
			<trim prefix="" prefixOverrides=",">
			<include refid="insert-values"/>
			<include refid="commonSql.common-insert-value" />
		</trim>
		)
	</insert>

	<update id="updateOne" parameterType="BookTbEntity">
		UPDATE BOOK_TB
		<set>
			<include refid="update-condition"/>
			<include refid="commonSql.common-update-condition" />
		</set>
		<where>
			<include refid="where-key"/>
		</where>
	</update>

	<delete id="deleteOne" parameterType="BookTbEntity">
		DELETE FROM BOOK_TB
		<where>
			<include refid="where-key"/>
		</where>
	</delete>

	<delete id="deleteMulti" parameterType="BookTbEntity">
		DELETE FROM BOOK_TB
		<where>
			1=2 OR (<trim prefix="" prefixOverrides="AND|OR"><include refid="where-models"/></trim>)
		</where>
	</delete>

	<select id="selectOne" parameterType="BookTbEntity" resultType="BookTbEntity">
		SELECT
			TITLE
			, CONTENTS
			, URL
			, ISBN
			, PUB_DTTI
			, AUTHORS
			, PUBLISHER
			, TRANSLATORS
			, PRICE
			, SALE_PRICE
			, THUMBNAIL
			, STATUS
			, FST_CRT_USID
			, FST_CRT_DTTI
			, LT_CH_USID
			, LT_CH_DTTI
		FROM BOOK_TB
		<where>
			<include refid="where-key"/>
		</where>
	</select>

	<select id="selectCount" parameterType="BookTbEntity" resultType="BookTbEntity">
		SELECT
			COUNT(1)
		FROM BOOK_TB
		<where>
			<include refid="where-models"/>
		</where>
	</select>

	<update id="mergeUpdateOne" parameterType="BookTbEntity">
		MERGE INTO BOOK_TB
			USING DUAL
			ON (<trim prefix="" prefixOverrides="AND|OR"><include refid="where-key" /></trim>)
		WHEN MATCHED THEN
			UPDATE
			<set>
				<include refid="commonSql.common-update-condition" />
				<include refid="update-condition" />
			</set>
		WHEN NOT MATCHED THEN
			INSERT
			(
				<trim prefix="" prefixOverrides=",">
					<include refid="commonSql.common-insert-condition" />
					<include refid="insert-condition" />
				</trim>
			)
			VALUES
			(
				<trim prefix="" prefixOverrides=",">
					<include refid="commonSql.common-insert-value" />
					<include refid="insert-values" />
				</trim>
			)
	</update>
</mapper>